*{
    margin: 0;padding: 0;
}

body{
    font-family: sans-serif;
    text-align: center;
    background-color:rgb(0, 0, 0);
}


header{
    color: white;
    padding: 5px;
}


.title img{
    width: 100px;
    height: 100px;
    
}

.title h1{
    font-size: 8rem;
    display:inline;
    padding-left: 3%;
    color: aquamarine;
    font-family: 'Lobster', cursive;
}

.title{
    padding-top: 3%;
    padding-bottom: 7%;
}

.main-player{
    display: inline-block;
    padding: 0 2% 0 2%;

}
.main .heading{
    margin-bottom: 6%;
}

.main{
margin-bottom: 9%;
margin-top: 1%;
}

.main h2{
    font-family:cursive;
    font-weight: 100;
    color: aquamarine;
}

.dice img{
    width: 200px;
    height: 200px;
}


footer h3{
    color: white;
    font-family: 'Rock Salt', cursive;
}
footer span{
    font-size: 10px;
}

footer{
    margin-top: 12%;
    margin-bottom: 0;
    
}




@media screen and (max-width:954px) {
    .title h1{
        font-size: 6rem;
    }
    .dice img{
        width: 180px;
        height: 180px;
    }
    .title img{
        width: 80px;
        height: 80px;
      }
    
    
}

@media screen and (max-width:700px) {
    .title h1{
        font-size: 5rem;
    }
    .dice img{
        width: 160px;
        height: 160px;
    }
    
}
@media screen and (max-width:600px) {
    .title h1{
        font-size: 4rem;
    }
    .dice img{
        width: 140px;
        height: 140px;
    }
    .title img{
        width: 70px;
        height: 70px;
        
    }
    .main{
        padding-bottom: 13%;
      }
      .title{
        padding-bottom: 10%;
      }
        
    
}
@media screen and (max-width:500px) {
    .title h1{
        font-size: 3rem;
    }
    .dice img{
        width: 120px;
        height: 120px;
    }
    .title img{
        width: 50px;
        height: 50px;
        
    }
    .main{
        margin-top: 4%;
    }
    header{
        font-size: 10px;
    }
}
@media screen and (max-width:345px) {
    .title h1{
        font-size: 3rem;
    }
  .main-player{
    display: block;
  }
  .dice img{
    width: 100px;
    height: 100px;
  }
  .title h1{
    font-size: 2.3rem;
  }
  .title img{
    width: 30px;
    height: 30px;
  }
  .main .heading{
    margin-bottom: 2%;
  }
  .main-player{
    padding-bottom: 8%;
  }
  
}

@media screen and (max-width:260px){
    .title h1{
        font-size: 2.3rem;

    }
    .dice img{
        width: 80px;
        height: 80px;
    }
    header{
        font-size: 5px;
    }
}

